* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
}
.container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #264653;
}
.music-player {
    display: flex;
    width: 800px;
    max-height: 450px;
    flex-direction: row;
}
.player {
    display: flex;
    background: #e9c46a;
    padding: 3em;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    position: relative;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.record {
    width: 150px;
    padding: 10px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
}
.record-animation {
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.player h2 {
    color: #e76f51;
    font-size: 40px;
    margin-bottom: 50px;
}
.slideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.slideContainer i {
    font-size: 16px;
    color: #264653;
}
.slider {
    -webkit-appearance: none;
    height: 10px;
    outline: none;
    color: #fff;
    opacity: 0.7;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    border-radius: 10px;
    margin: 0 20px;
}
.slide:hover {
    opacity: 1;
}
.controller {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.controller button {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
    padding: 20px;
}
.controller > button > i {
    font-size: 30px;
    color: #f1f1f1;
}
.play-pause i {
    font-size: 60px;
}
.playlist {
    display: flex;
    flex: 1;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    padding: 3em;
    flex-direction: column;
    background: #f1f1f1;
}
.playlist h2 {
    margin-bottom: 20px;
}
.playlist ul {
    list-style-type: none;
    flex-basis: 100%;
    overflow-y: scroll;
    padding: 0 5px;
}
.playlist ul li {
    padding: 20px 20px 20px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}
.playlist ul li.active {
    font-weight: bold;
}
